body {
    background-color: #252525;
    color: rgb(255, 255, 255);
}

.infinite-scroll {
    margin: 30px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.item-div-dark {
    width: 100%;
    background-color: #3b3b3b;
    border: 1px solid green;
    padding: 8px;
}

.item-div-light {
    width: 100%;
    background-color: #adadad;
    border: 1px solid green;
    padding: 8px;
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0.5;
    background-color:rgb(0, 0, 0);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1;
}

.bp3-control {
    margin-bottom: 0;
}

.bp3-control.bp3-switch:not(.bp3-align-right) {
    padding-left: 47px;
}
.bp3-control.bp3-switch:hover input:checked ~ .bp3-control-indicator {
    background: #21611b;
}
.bp3-control.bp3-switch input:checked ~ .bp3-control-indicator {
    background: #257c1d;
}

.bp3-navbar {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 0 1px rgb(0 128 0), 0 0 0 rgb(16 22 26 / 0%), 0 1px 1px rgb(16 22 26 / 20%);
}